<div class="actions">
  {{#link-to 'certifications.index' class="btn btn-default"}}
    Certificados
  {{/link-to}}

  {{#link-to 'certifications.templates' class="btn btn-default"}}
    Templates
  {{/link-to}}
</div>
<br>