<h1 class="page-header">Certificados</h1>

{{partial 'certifications/actions'}}

{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=true
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}