.ember-power-select-trigger {
  min-width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.form-group-select {
  margin-top: 8px;
  margin-right: 12px;
  padding-bottom: 8px;
}

.midia-group {
  padding-bottom: 8px;
}