<h1 class="page-header">Ranking</h1>
<p>Pontuação dos usuários:</p>
<div class="actions"></div>
<br>

{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=true
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}