<h1 class="page-header">Histórias</h1>
<div class="actions">
  {{#acl-btn-create model="history" url="/history/create"}}Cadastrar história{{/acl-btn-create}}
</div>
<br>

{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=true
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}